@charset "UTF-8";

/*
    Paleta de cores
    Verde: #49a09d
    Lilás: #5f2c82
*/

:root {
    --cor-primaria: #49a09d;
    --cor-secundaria: #5f2c82;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body {
    position: relative;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--cor-secundaria);
}

main {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 20px;
    width: 50vw;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.473);
}

#imagem img {
    width: 50vw;
    height: 25vh;
    border-radius: 20px 20px 0px 0px;
}

#formulario h1 {
    text-align: center;
    padding: 10px;
    font-size: 1.8em;
}

#formulario p.tela {
    padding: 10px 10px 0px 10px;
}

span#material {
    color: white;
    vertical-align: middle;
    padding: 5px;
}

p.email, p.senha {
    background-color: var(--cor-secundaria);
    margin: 10px;
    border-radius: 5px;
}

#iemail, #isen {
    background-color: #60bdba;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    width: 30vw;
    height: 40px;
    padding: 5px;
}

#iemail:hover, #isen:hover {
    background-color: white;
}

p.entrar input {
    background-color: var(--cor-primaria);
    color: white;
    display: block;
    margin: auto;
    text-align: center;
    border: none;
    padding: 10px;
    border-radius: 5px;
    width: 46vw;
}

.troca a {
    color: var(--cor-primaria);
    text-decoration: none;
    display: block; 
    margin: auto;
    text-align: center;
    border-radius: 5px;
    border: 1px solid var(--cor-primaria);
    margin-bottom: 10px;
    padding-bottom: 5px;
    width: 46vw;
}

p.entrar input:hover {
    cursor: pointer;
    background-color: #1e4241;
}

p.troca a:hover {
    cursor: pointer;
    background-color: #6ae9e5;
}